.cabecalho {
    background-image: linear-gradient(black, white);
    color: aliceblue;
    display: flex;
    padding: 35% 0;

}

.section1 {
   background-color: white;
    padding:35% 0;
}

.section2 {
    background-color: white;
    padding: 35% 0;
}

.cabecalho-imagem{
 width: 10%;   
}