.cabecalho {
    background-image: linear-gradient(black, white);
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
   background-color: white;
    padding: 100px 0;
}

.section2 {
    background-color: white;
    padding: 100px 0;
}

.cabecalho-imagem{
 width: 20%;   
}